<div class="col-sm-10 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="AdminController">
    <h1 class="page-header">Admin</h1>
    <h3>Users</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><i class="fa fa-sort-desc">Username</i></th>
                <th><i class="fa fa-sort-desc">Password</i></th>
                <th><i class="fa fa-sort-desc">Action</i></th>
            </tr>
            <tr>
                <td><input ng-model="form.username" class="form-control ng-pristine ng-valid ng-touched" placeholder="username"></td>
                <td><input ng-model="form.password" class="form-control ng-pristine ng-valid ng-touched" placeholder="password"></td>
                <td>
                    <div>
                        <button ng-click="addU(form)" class="btn btn-primary">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button ng-click="updateU(form)" class="btn btn-primary">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="form in users">
                <td>
                    <div>
                        <button ng-click="deleteU($index)" class="btn btn-primary pull-middle">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button ng-click="selectU($index)" class="btn btn-primary pull-middle">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>