<div class="col-sm-10 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Photos</h1>
    <div class="row">
        <!--using placeholder images-->
        <div class="card">
            <img alt="100%x280" src="http://www.joomlaworks.net/images/demos/galleries/abstract/7.jpg" style="height: 280px; width: 100%; display: block;">
            <p class="card-text"> TAGS AND NOTES </p>
        </div>
        <div class="card">
            <img alt="100%x280" src="http://www.joomlaworks.net/images/demos/galleries/abstract/6.jpg" style="height: 280px; width: 100%; display: block;">
            <p class="card-text"> TAGS AND NOTES </p>
        </div>
        <div class="card">
            <img alt="100%x280" src="http://www.joomlaworks.net/images/demos/galleries/abstract/5.jpg" style="height: 280px; width: 100%; display: block;">
            <p class="card-text"> TAGS AND NOTES </p>
        </div>
        <div class="card">
            <img alt="100%x280" src="http://www.joomlaworks.net/images/demos/galleries/abstract/4.jpg" style="height: 280px; width: 100%; display: block;">
            <p class="card-text"> TAGS AND NOTES </p>
        </div>
        <div class="card">
            <img alt="100%x280" src="http://www.joomlaworks.net/images/demos/galleries/abstract/3.jpg" style="height: 280px; width: 100%; display: block;">
            <p class="card-text"> TAGS AND NOTES </p>
        </div>
        <div class="card">
            <img alt="100%x280" src="http://www.joomlaworks.net/images/demos/galleries/abstract/2.jpg" style="height: 280px; width: 100%; display: block;">
            <p class="card-text"> TAGS AND NOTES </p>
        </div>
        <div class="card">
            <img alt="100%x280" src="http://www.joomlaworks.net/images/demos/galleries/abstract/1.jpg" style="height: 280px; width: 100%; display: block;">
            <p class="card-text"> TAGS AND NOTES </p>
        </div>
    </div>
</div>