<div class="col-sm-10 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="ProfileController">
    <h1 class="page-header">Profile</h1>
    <div ng-show="message" class="alert alert-success" role="alert">{{message}}</div>
    <div ng-show="error" class="alert alert-success" role="alert">{{error}}</div>
    <form class="form-horizontal col-sm-10">
        <div class="form-group">
            <label for="inputUsername" class="col-sm-2 control-label">Username:</label>
            <div class="col-sm-6">
                <input class="form-control" id="inputUsername" placeholder="{{currentUser.username}}" ng-model="currentUser.username">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">Password:</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" id="inputPassword" placeholder="{{currentUser.password}}" ng-model="currentUser.password">
            </div>
        </div>
        <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">First Name:</label>
            <div class="col-sm-6">
                <input class="form-control" id="firstname" placeholder="{{currentUser.firstName}}" ng-model="currentUser.firstname">
            </div>
        </div>
        <div class="form-group">
            <label for="lastname" class="col-sm-2 control-label">Last Name:</label>
            <div class="col-sm-6">
                <input class="form-control" id="lastname" placeholder="{{currentUser.lastName}}" ng-model="currentUser.lastname">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label">Email:</label>
            <div class="col-sm-6">
                <input type="email" class="form-control" id="inputEmail" placeholder="{{currentUser.email}}" ng-model="currentUser.email">
            </div>
        </div>
        <div class="form-group">
            <label for="inputAge" class="col-sm-2 control-label">Age:</label>
            <div class="col-sm-6">
                <input class="form-control" id="inputAge" placeholder="{{currentUser.age}}" ng-model="currentUser.age">
            </div>
        </div>
        <div class="form-group">
            <label for="inputLocation" class="col-sm-2 control-label">Location:</label>
            <div class="col-sm-6">
                <input class="form-control" id="inputLocation" placeholder="{{currentUser.location}}" ng-model="currentUser.location">
            </div>
        </div>
        <div class="form-group">
            <label for="inputGender" class="col-sm-2 control-label">Gender:</label>
            <div class="col-sm-6">
                <input class="form-control" id="inputGender" placeholder="{{currentUser.gender}}" ng-model="currentUser.gender">
            </div>
        </div>
        <div class="form-group">
            <label for="aboutme" class="col-sm-2 control-label">About Me:</label>
            <div class="col-sm-6">
                <textarea name="paragraph_text" cols="50" rows="10" id="aboutme" placeholder="{{currentUser.aboutme}}" ng-model="currentUser.aboutme"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="placesbeen" class="col-sm-2 control-label">Places I've been to:</label>
            <div class="col-sm-6">
                <textarea name="paragraph_text" cols="50" rows="10" id="placesbeen" placeholder="{{currentUser.placesbeen}}" ng-model="currentUser.placesbeen"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="placesfuture" class="col-sm-2 control-label">Places I want to visit:</label>
            <div class="col-sm-6">
                <textarea name="paragraph_text" cols="50" rows="10" id="placesfuture" placeholder="{{currentUser.placesfuture}}" ng-model="currentUser.placesfuture"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <form>
                    <button type="submit" class="btn btn-primary" ng-click="update(currentUser)">Update</button>
                </form>
            </div>
        </div>
    </form>
</div>