<div class="col-sm-3 col-md-1 sidebar" ng-controller="SidebarController">
    <ul class="nav nav-sidebar">
        <li ng-class="{'active': model.$location.url() == '/home'}">
            <a href="#/home">Home <span class="sr-only">(Current)</span></a></li>
        <li ng-show="currentUser" ng-class="{'active': model.$location.url() == '/profile'}">
            <a href="#/profile">Profile</a></li>
        <li ng-show="currentUser.admin == 'true'" ng-class="{'active': model.$location.url() == '/admin'}">
            <a href="#/admin">Admin</a></li>
        <li ng-show="currentUser"
            ng-class="{'active': model.$location.url() == '/diary' || model.$location.url().indexOf('/diary-expand') >= 0}">
            <a href="#/diary">Diaries</a>
        </li>
    </ul>
</div>