<div class="col-sm-10 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="DiaryController">
    <h1 class="page-header">Diary</h1>
    <!--<ul class="nav nav-tabs">-->
        <!--<li role="presentation" class="active"><a href="#/diary">Diary</a></li>-->
        <!--<li role="presentation"><a href="#/diary-expand">Full View</a></li>-->
    <!--</ul>-->
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><i class="fa fa-sort-desc"><label>Name</label></i></th>
                <th><i class="fa fa-sort-desc"><label>Action</label></i></th>
            </tr>
            <tr>
                <td><input ng-model="d.title" class="form-control ng-pristine ng-valid ng-touched" placeholder="name"></td>
                <td>
                    <div>
                        <button ng-click="addD(d)" class="btn btn-primary pull-middle">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="d in diaries">
                <td><a href="#/diary-expand">{{d.title}}</a></td>
                <td>
                    <div>
                        <button ng-click="deleteD($index)" class="btn btn-primary pull-middle">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button ng-click="selectD($index)" class="btn btn-primary pull-middle">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>